/*
 * MediaQueries *
 */
$phone:     20rem       // $phone:     320px
$phone-l:   30rem       // $phone-l:   480px
$tablet:    48rem       // $tablet:    768px
$laptop:    64rem       // $laptop:    1024px
$MDPI:      75rem       // $MDPI:      1200px
$HiDPI:     90rem       // $HiDPI:     1440px
$HD:        120rem      // $HD:        1920px


/*
 * Typography *
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100)

$font-size: 16px
$font-text: 'Roboto', Arial, Helvetica, sans-serif
$font-code: monospace, monospace


/*
 * Margin/Padding *
 */
$layout-space:  1em
$pin-space:     2rem

$margin:        4rem 
$padding:       2rem

/*
 * Border Radius *
 */
$border-radius: 1px

/*
 * Colors *
 */
$primary-color: #1DE9B6
$accent-color: #FFD600
$error-color: #f44336

$select-color: darken(desaturate($primary-color, 30), 30)
$select-background: lighten(desaturate($primary-color, 30), 30)

$mark-color: darken(desaturate($primary-color, 20), 20)
$mark-background: lighten($primary-color, 20)


$appnav-background: $primary-color
$appnav-color: #fff
$appnav-link: #fff
$appnav-link-hover: $primary-color


$hr-color: #ddd


$samp-color: #fff
$samp-background: #15d

$code-color: #555
$code-background: #eee

$kbd-color: #eee
$kbd-background: #222


$cite-color: #aaa
$quote-color: #555
$quote-border-color: #eee

$fieldset-border: #ddd

// _button.sass
$button-color: #fff
$button-background: #ccc

$button-primary-color: #fff
$button-primary-background: $primary-color

$button-accent-color: #fff
$button-accent-background: $accent-color

$button-error-color: #fff
$button-error-background: $error-color

$button-background-danger: $primary-color * #900

// _link.sass
$link-color: $primary-color

// _form.sass
$input-color: #555
$label-color: #aaa
$input-border-color: #ddd
$input-hover-border-color: $primary-color