/*
 * MediaQueries *
 */
$phone:     20rem       // $phone:     320px
$phone-l:   30rem       // $phone-l:   480px
$tablet:    48rem       // $tablet:    768px
$laptop:    64rem       // $laptop:    1024px
$MDPI:      75rem       // $MDPI:      1200px
$HiDPI:     90rem       // $HiDPI:     1440px
$HD:        120rem      // $HD:        1920px


/*
 * Typography *
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100)

$font-size: 16px
$font-text: 'Roboto', Arial, Helvetica, sans-serif
$font-code: monospace, monospace


/*
 * Margin/Padding *
 */
$margin:        4rem 
$padding:       2rem

$pin-container-margin:  4rem
$pin-space:             4rem


/*
 * Colors *
 */
$anchor-color: #00f
$anchor-color-hover: #0ff

$code-color: #333
$code-background: #eee
$code-border-color: #ccc

$kbd-color: #eee
$kbd-background: #333

$mark-background: #ff0
$mark-color: #000

$samp-color: #fff
$samp-background: #0ce

$cite-color: #aaa
$quote-color: #555
$quote-border-color: #eee

$fieldset-border: #ddd

$list-border-bottom-color: #ddd
$list-background-color: #eee

$select-background: #000
$select-color: #eee

$button-color: #333
$button-hover-color: #fff
$button-background: transparent
$button-hover-background: #333
$button-focus-background: #000
$button-border-color: #333
$button-hover-border-color: #333

