/*
 * MediaQueries *
 */
$phone:     20rem       // $phone:     320px
$phone-l:   30rem       // $phone-l:   480px
$tablet:    48rem       // $tablet:    768px
$laptop:    64rem       // $laptop:    1024px
$MDPI:      75rem       // $MDPI:      1200px
$HiDPI:     90rem       // $HiDPI:     1440px
$HD:        120rem      // $HD:        1920px

$margin:    4rem 
$padding:   2rem

$font-size: 16px
$font-text: Arial, Helvetica, sans-serif
$font-code: monospace, monospace

$mark-background: #ff0
$mark-color: #000

$fieldset-border: #ddd

$select-background: #00f
$select-color: #fff
