/*
 * _link *
 */

a
    color: $link-color
    display: inline-block
    position: relative
    margin: 0 $margin/8
    text-decoration: none
    +transition-ease(.3s)
    &::after
        background: $link-color
        content: ""
        position: absolute
        bottom: 2px
        right: 0
        width: 10px
        height: 2px
        +transition-ease(.3s)
    &:hover,
    &:focus
        color: darken($link-color, 5)
        &::after
            right: 0
            width: 100%
            background: darken($link-color, 5)
    &:active
        color: darken($link-color, 10)
        &::after
            right: 0
            width: 100%
            background: darken($link-color, 10)
