/*
 * _list *
 */

ol,
ul
    font-size: 1em
    margin: $margin/2 0
    padding: 0 0 0 $padding/2
    list-style-position: inside
    ol,
    ul
        font-size: .94em
        margin: 0
        padding-left: $padding
ol
    list-style: decimal
    ol
        list-style: decimal-leading-zero
ul
    list-style: disc
    ul
        list-style: circle




dl 
    margin: $margin/2 0 
    dt 
        font-weight: bold
        font-size: 1.1em
        margin: 0
        padding: $padding/2 0 0
    dd 
        font-size: .9em
        margin: 0
        padding: 0
