/*
 * _link *
 */
a,
a::after,
a::before
    display: inline-block
    text-decoration: none
    +transition-ease(.3s)

a:not(.link-breadcrumb):not(.button-nav):not(.link-nav)
    color: $link-color
    position: relative
    margin: 0 $margin/8
    &::after
        background: $link-color
        content: ""
        position: absolute
        bottom: 2px
        right: 0
        width: 10px
        height: 2px
    &:hover,
    &:focus
        color: darken($link-color, 5)
        &::after
            right: 0
            width: 100%
            background: darken($link-color, 5)
    &:active
        color: darken($link-color, 10)
        &::after
            right: 0
            width: 100%
            background: darken($link-color, 10)

.link-nav
    background: transparent
    color: $nav-link-color
    line-height: 40px
    margin: 0 $margin/4
    padding: $padding/4
    position: relative
    z-index: 12
    &::after
        background: $nav-link-color
        content: ""
        position: absolute
        bottom: 0
        right: 0
        width: 0
        height: 4px
    &:hover,
    &:focus
        color: $nav-link-color-hover
        &::after
            background: $nav-link-color-hover
            right: 0
            width: 100%
    &:active
        color: $nav-link-color-active
        &::after
            background: $nav-link-color-active
            right: 0
            width: 100%

.link-breadcrumb
    color: $breadcrumb-link-color
    font-weight: 300
    &:hover,
    &:focus
        color: $breadcrumb-link-color-hover
    &:active
        color: $breadcrumb-link-color-active
    