.appnav
    background: $nav-background
    color: $nav-color
    position: fixed
    width: 100%
    display: -webkit-flex 
    display: -moz-flex 
    display: flex 
    -webkit-align-items: center
    -webkit-moz-items: center
    align-items: center
    -webkit-justify-content: space-between 
    -moz-justify-content: space-between 
    justify-content: space-between
    -webkit-flex-direction: row 
    -moz-flex-direction: row 
    flex-direction: row
    z-index: 10
    > *
        padding: $padding/2
    &.top
        top: 0
    &.bottom
        bottom: 0
    &.menu
        -webkit-justify-content: space-around 
        -moz-justify-content: space-around 
        justify-content: space-around

    @media screen and (min-width: $laptop)
        &.menu
            -webkit-justify-content: center
            -moz-justify-content: center
            justify-content: center
        > *
            padding: $padding/2 $padding