/* src/components/badge.sass */
.badge
  background: $color-primary
  border-radius: 15px
  color: $main-background
  display: inline-block
  font-size: 0.8em
  height: 30px
  line-height: 30px
  min-width: 30px
  overflow: hidden
  padding: 0 10px
  text-align: center
  text-overflow: ellipsis
  white-space: nowrap