/* src/components/breadcrumb.sass */
.breadcrumb 
  color: rgba($main-color,0.7)
  font-weight: 300
  *
    &:not(:last-child)::after
      content: "⟩"
      padding-left: $layout-space/4
      padding-right: $layout-space/4
  > a 
    border-bottom: 0          