/*
 * _navbar *
 */

.navbar
    background: $color-primary
    color: $color-white
    display: -webkit-flex 
    display: -moz-flex 
    display: flex 
    -webkit-flex-direction: column 
    -moz-flex-direction: column 
    flex-direction: column
    position: fixed
    top: 0
    width: 100%

    .navbar-menu
        overflow-x: auto
        * 
            display: table-cell !important
            white-space: nowrap


    @media screen and (min-width: $laptop)
        -webkit-flex-direction: row 
        -moz-flex-direction: row 
        flex-direction: row







.link-nav
    background: transparent
    color: $color-white
    line-height: 40px
    padding: $layout-space/4 $layout-space/2
    position: relative
    z-index: 12
    &::after
        background: $color-white
        content: ""
        position: absolute
        bottom: 0
        right: 0
        width: 0
        height: 4px
        +transition-ease(.3s)

    &.active,
    &:active,
    &:hover,
    &:focus
        &::after
            width: 100%
