/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Button
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * Color functions * * */
=button-line($color)
    border-color: $color
    color: darken($color, 3)
    &:hover,
    &:focus
        border-color: darken($color, 10)
        color: darken($color, 10)
    &:active
        border-color: darken($color, 15)
        color: darken($color, 15)

=button-line-disabled($color)
    border-color: darken(desaturate($color, 10), 10)
    color: darken(desaturate($color, 10), 13)

=button-solid($color)
    background: $color
    border-color: $color
    color: lighten($color, 80)
    &:hover,
    &:focus
        background: darken($color, 10)
        border-color: darken($color, 10)
    &:active
        background: darken($color, 15)
        border-color: darken($color, 15)

=button-solid-disabled($color)
    background: darken(desaturate($color, 20), 20)
    border-color: darken(desaturate($color, 20), 20)
    color: lighten($color, 80)



/* * * Button default values * * */
button
    background: transparent
    border: none
    border: $button-border solid transparent
    border-radius: $button-radius
    font-size: .9em
    font-weight: 300
    height: $button-height
    line-height: $button-height
    margin: $layout-space/8 0
    padding: 0 $layout-space
    +button-line($color-gray)
    +transition-ease(.3s)



/* * * Button Colors * * */
.button-primary
    &:not(.button-solid)
        +button-line($color-primary)
        &[disabled]
            +button-line-disabled($color-primary)

    &.button-solid
        +button-solid($color-primary)
        &[disabled]
            +button-solid-disabled($color-primary)

.button-accent
    &:not(.button-solid)
        +button-line($color-accent)
        &[disabled]
            +button-line-disabled($color-accent)

    &.button-solid
        +button-solid($color-accent)
        &[disabled]
            +button-solid-disabled($color-accent)



/* * * Button Sizes * * */
.button-small 
    border-radius: calc(#{$button-radius/1.6})
    height: calc(#{$button-height/1.6})
    line-height: calc(#{$button-height/1.6})
    padding: 0 calc(#{$layout-space/1.6})

.button-big 
    border-radius: calc(#{$button-radius*1.5})
    height: calc(#{$button-height*1.5})
    line-height: calc(#{$button-height*1.5})
    padding: 0 calc(#{$layout-space*1.5})

.button-block
    width: 100%
    