/* src/core/button.sass */
// Button color functions
=button($color)
  background-image: linear-gradient(-135deg, transparent 50%, $color 50%)
  background-position: 99% 0
  border-color: $color
  color: $color
  &:hover,
  &:focus
    background-position: 0 0
    border-color: mix($color, $main-color, 80%)
    color: $main-background
  &:active
    background-position: 0 0
    border-color: mix($color, $main-background, 80%)
    color: $main-background

=button-solid($color)
  background-image: linear-gradient(-135deg, transparent 50%, $color 50%)
  background-position: 0 0
  border-color: $color
  color: $main-background
  &:hover,
  &:focus
    background-position: 99% 0
    color: $color
  &:active
    background-position: 99% 0
    color: $color

// Button default values
button
  background: transparent
  background-size: 300% 100%
  border: $border-width solid $color-primary
  border-radius: $border-radius
  color: $color-primary
  font-size: 0.9em
  margin: $layout-space/10 0
  padding: $layout-space/2 $layout-space
  +button($color-primary)
  +transition-ease(.3s)
  &.button-solid
    +button-solid($color-primary)
  &.button-accent
    +button($color-accent)
    &.button-solid
      +button-solid($color-accent)
  &.button-primary
    +button($color-primary)
    &.button-solid
      +button-solid($color-primary)

// Button Sizes
.button-small
  font-size: 0.8em
  padding: $layout-space/4 $layout-space/2
.button-big
  font-size: 1.1em
  padding: $layout-space/1.5 $layout-space*1.5
.button-block
  width: 100%
