/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Colors
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 /* * * Background * * */
.bg-primary
    background: $color-primary
    &.opacity
        background: rgba($color-primary, .5)

.bg-accent
    background: $color-accent
    &.opacity
        background: rgba($color-accent, .5)

.bg-white
    background: $color-white
    &.opacity
        background: rgba($color-white, .5)

.bg-gray-light
    background: $color-gray-light
    &.opacity
        background: rgba($color-gray-light, .5)

.bg-gray
    background: $color-gray
    &.opacity
        background: rgba($color-gray, .5)

.bg-gray-dark
    background: $color-gray-dark
    &.opacity
        background: rgba($color-gray-dark, .5)

.bg-black
    background: $color-black
    &.opacity
        background: rgba($color-black, .5)



/* * * Color * * */
.color-primary
    color: $color-primary

.color-accent
    color: $color-accent

.color-white
    color: $color-white

.color-gray-light
    color: $color-gray-light

.color-gray
    color: $color-gray

.color-gray-dark
    color: $color-gray-dark

.color-black
    color: $color-black
    