/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Link
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * Color functions * * */
=link($color)
    border-color: transparent
    color: darken($color, 3)
    &:hover,
    &:focus
        border-color: darken($color, 10)
        color: darken($color, 10)
    &:active
        border-color: darken($color, 15)
        color: darken($color, 15)



/* * * Link default values * * */
a
    text-decoration: none
    +transition-ease(.3s)
    
a:not(.link-nav)
    border-bottom: $button-border solid transparent
    display: inline-block
    color: $color-primary
    font-size: 1em
    font-weight: 400
    +link($color-primary)



/* * * Link colors * * */
.link-accent
    +link($color-accent)
    color: $color-accent
    