/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Link
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * Color functions * * */
=link_darken($color)
    border-color: transparent
    color: $color
    &:hover,
    &:focus
        border-color: darken($color, 10)
        color: darken($color, 10)
    &.active,
    &:active
        border-color: darken($color, 15)
        color: darken($color, 15)
=link_lighten($color)
    border-color: transparent
    color: $color
    &:hover,
    &:focus
        border-color: lighten($color, 10)
        color: lighten($color, 10)
    &.active,
    &:active
        border-color: lighten($color, 20)
        color: lighten($color, 20)

=link_fancy($color)
    &::after
        background: $color-primary
    &:hover,
    &:focus
        color: darken($color, 10)
        &::after
            background: darken($color, 10)
    &.active,
    &:active
        color: darken($color, 15)
        &::after
            background: darken($color, 15)



/* * * Link default values * * */
a
    border-bottom: $link-border solid transparent
    display: inline-block
    color: $color-primary
    font-size: 1em
    font-weight: 300
    text-decoration: none
    +link_lighten($color-primary)
    +transition-ease(.3s)



/* * * Link colors * * */
.link-accent
    +link_lighten($color-accent)



/* * * Link fancy * * */ 
.link-fancy
    border-bottom: 0
    position: relative
    +link_fancy($color-primary)
    +transition-ease(.3s)
    &::after
        content: ""
        position: absolute
        bottom: -2px
        right: 0
        width: 0
        height: 2px
        +transition-ease(.3s)
    &.active,
    &:active,
    &:hover,
    &:focus
        &::after
            width: 100%

    &.link-accent
        +link_fancy($color-accent)
