/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Table
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.table-container
    overflow-x: scroll
    overflow-y: hidden
    width: 100%



table
    width: 100%
    thead
        display: none
    tfoot
        tr 
            background: $color-gray-light
            color: $color-gray-dark
    tbody
        tr 
            border-bottom: 1px solid $color-gray
    td 
        display: block
        padding: 0 $layout-space/2
        &:first-child
            padding-top: $layout-space/2
        &:last-child
            padding-bottom: $layout-space/2
        
    .th-mobile
        font-weight: bold
        font-size: .7em
        display: block
        line-height: 1em
        margin: 0
        padding: $layout-space/2 0 0

    @media only screen and (min-width: $tablet)  
        thead
            display: table-header-group
            th 
                text-align: left
        th,
        td 
            display: table-cell
            padding: $layout-space/2

        .th-mobile
            display: none
