/* src/core/typography.sass */
// Titles
h1,
h2,
h3,
h4,
h5,
h6
  font-family: $title-font
  font-weight: $title-weight
  line-height: $title-line
  margin: $layout-space 0
  padding: 0

h1
  font-size: 2em
  &.lead
    font-size: 3em
    margin: $layout-space*3 0 $layout-space*1.5
    + h2,
    + h3
      margin-top: -$layout-space
      margin-bottom: $layout-space*1.5
h2
  font-size: 1.7em
h3
  font-size: 1.5em
h4
  font-size: 1.3em
h5
  font-size: 1.1em
h6
  font-size: 0.9em
@media screen and (min-width: $phone-l)
  h1
    font-size: 2.5em
    &.lead
      font-size: 3.5em
      margin: $layout-space*4 0 $layout-space*1.5
      + h2,
      + h3
        margin-top: -$layout-space
        margin-bottom: $layout-space*1.5
  h2
    font-size: 2.2em
  h3
    font-size: 1.9em
  h4
    font-size: 1.6em
  h5
    font-size: 1.3em
  h6
    font-size: 1em
@media screen and (min-width: $laptop)
  h1
    font-size: 2.7em
    &.lead
      font-size: 3.7em
      margin: $layout-space*6 0 $layout-space*3
      + h2,
      + h3
        margin-top: -$layout-space*2.5
        margin-bottom: $layout-space*3
  h2
    font-size: 2.4em
  h3
    font-size: 2.1em
  h4
    font-size: 1.8em
  h5
    font-size: 1.5em
  h6
    font-size: 1.2em

// Titles and subtles
h1 + h2,
h1 + h3,
h2 + h3,
h2 + h4,
h3 + h4,
h3 + h5,
h4 + h5,
h4 + h6,
h5 + h6
  margin-top: -$layout-space

// Titles and inline subtles
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small
  display: inline-block
  font-size: 0.6em
  line-height: 1em
  margin: 0 0.6em

h1 + .stay-close,
h2 + .stay-close,
h3 + .stay-close,
h4 + .stay-close,
h5 + .stay-close,
h6 + .stay-close
  margin-top: -$layout-space/1.1

// Paragraph
p
  line-height: $font-line
  margin: $layout-space 0
  padding: 0

// Inline text tags
abbr,
del,
em,
ins,
kbd,
mark,
small,
samp,
strong,
sup,
sub,
var
  color: rgba($main-color,0.9)
code,
kbd,
mark,
samp,
var
  border-radius: $border-radius
  padding: 0.01em 0.4em
  margin: 0.01em 0.1em
kbd
  background: #ddd
  color: #00f
mark
  background: rgba($color-primary,0.7)
samp
  background: #00f
  color: #fff
strong
  font-weight: 700
var
  font-style: normal
  font-weight: 100
pre
  margin: 0
  padding: 0

// The Code tag
code
  background: #263238
  color: #80CBC4
  display: inline-block
  &.code-block
    background: #263238
    border-radius: $border-radius
    color: rgba(255,255,255,0.7)
    display: block
    overflow-y: hidden
    overflow-x: auto
    padding: $layout-space/2
    margin: 0
    .teal
      color: #80CBC4
    .purple
      color: #9C27B0
    .orange
      color: #FF7042
    .green
      color: #8BC34A
    .yellow
      color: #FFF175
    .pink
      color: #E57373
.code-sample
  background: rgba(#263238,0.5)
  display: block
  margin: $layout-space 0 0
  padding: $layout-space/2
  overflow: hidden

// Blockquote
blockquote
  color: $main-color
  margin: $layout-space*2 0
  padding: $layout-space 0
  position: relative
  p
    font-size: 1.6em
    font-weight: 100
    display: block
    line-height: 1.2em
    margin: 0
    padding: 0
    position: relative
    z-index: 2
  cite
    color: rgba($main-color,0.5)
    display: block
    margin: 0
    padding: 0
    position: relative
    z-index: 2
    &::before
      content: "—"
      display: inline-block
      height: $layout-space
      width: $layout-space
  &::before
    font-family: Georgia, serif
    font-size: 11em
    color: rgba($main-color,0.1)
    content: "\201C"
    position: absolute
    left: 0
    top: $layout-space*2
    z-index: 0
q
  color: rgba($main-color,0.7)
  position: relative
  display: inline-block
  padding: 0 $layout-space
  &::before
    font-family: Georgia, serif
    font-size: 3em
    color: rgba($main-color,0.1)
    content: "\201C"
    position: absolute
    left: $layout-space/4
    top: $layout-space/4
    z-index: 0
  &::after
    font-family: Georgia, serif
    font-size: 3em
    color: rgba($main-color,0.1)
    content: "\201D"
    position: absolute
    right: $layout-space/4
    top: $layout-space/4
    z-index: 0
