/* src/navigation/navbar.sass */
.navbar
  display: block
  display: -webkit-flex
  display: -moz-flex
  display: flex
  -webkit-flex-wrap: nowrap
  -moz-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-align-items: center
  -webkit-moz-items: center
  align-items: center
  background: rgba($main-color,0.05)
  box-shadow: inset 0px -1px rgba($main-color,0.1)
  color: $main-color
  line-height: $navbar-height
  overflow-x: auto
  position: relative
  width: 100%
  z-index: 100

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  button
    display: inline-block
    margin: 0
    overflow: hidden
    min-width: 40px
    width: auto
    white-space: nowrap
    height: $navbar-height
    line-height: $navbar-height
    flex: 1 0 auto
    @media screen and (min-width: $tablet)
      flex: 0 0 auto

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    padding: 0 $layout-space/2
    z-index: 101

  a
    padding: 0 $layout-space/4
    +link($main-color)
    z-index: 102

  button
    height: $navbar-height/2
    line-height: $navbar-height/2
    padding: 0 $layout-space/4
    margin: 0 $layout-space/4
    min-width: $navbar-height
    text-align: center
    +button($main-color)
    z-index: 103
    &.navbar-button-menu
      flex: 0 0 auto
      border: none
      border-radius: 0
      height: $navbar-height
      line-height: $navbar-height
      margin: 0
      padding: 0 $layout-space/2

  //Navbar layout
  .navbar-center-element
    margin: 0
    padding: 0
    position: absolute
    left: 0
    right: 0
    text-align: center

  &.navbar-block-elements
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    button
      flex: 0 0 auto

  &.navbar-center-content
    -webkit-justify-content: center
    -moz-justify-content: center
    justify-content: center

  &.navbar-fix-bottom,
  &.navbar-fix-top
    margin: 0
    padding: 0
    position: fixed
    left: 0
    right: 0
  &.navbar-fix-bottom
    border-bottom: 0
    box-shadow: inset 0px 1px rgba($main-color,0.1)
    bottom: 0
  &.navbar-fix-top
    top: 0

  //Navbar like app menu
  &.navbar-app-button
    -webkit-justify-content: space-around
    -moz-justify-content: space-around
    justify-content: space-around

    button
      flex: 1 0 auto
      border: 0
      border-radius: 0
      height: $navbar-height
      line-height: $navbar-height
      margin: 0
      min-width: $navbar-height
      width: auto
      text-align: center

    @media screen and (min-width: $laptop)
      -webkit-justify-content: center
      -moz-justify-content: center
      justify-content: center

      button
        flex: 0 0 auto
        padding: 0 $layout-space

  // Navbar colors
  &.bg-primary
    background: rgba($color-primary,0.8)
    border-color: $color-primary
    button
      &:hover,
      &:focus,
      &:active
        color: $color-primary
  &.bg-accent
    background: rgba($color-accent,0.8)
    border-color: $color-accent
    button
      &:hover,
      &:focus,
      &:active
        color: $color-accent
  &.color-primary
    color: $main-color
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: $color-primary
    a
      +link($color-primary)
    button
      +button($color-primary)
  &.color-accent
    color: $main-color
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: $color-accent
    a
      +link($color-accent)
    button
      +button($color-accent)
