/* src/navigation/navmenu.sass */
.navmenu
  position: absolute
  z-index: 10

  .navmenu-trigger
    display: none

  .navmenu-trigger:checked ~ .navmenu-icon
    span
      transform: rotate(45deg)
      &::after
        margin-top: 0
        margin-left: 0
        transform: rotate(-90deg)
        width: 20px
      &::before
        margin-top: 0
        margin-left: 0
        transform: rotate(90deg)
        width: 20px

    &:hover,
    &:focus
      transform: rotate(-45deg)
      span
        &::after
          margin-top: 5px
          margin-left: 0px
          transform: rotate(35deg)
          width: 15px
        &::before
          margin-top: -5px
          margin-left: 0px
          transform: rotate(-35deg)
          width: 15px

  .navmenu-trigger:checked ~ .navmenu-nav
    left: 0

  .navmenu-icon
    cursor: pointer
    display: inline-block
    padding: $layout-space $layout-space/1.5
    position: absolute
    z-index: 12

    span,
    span::after,
    span::before
      background: $main-color
      display: block
      height: 1px
      width: 20px
      +transition-ease(.3s)

    span
      &::after,
      &::before
        content: ""
        position: absolute
      &::after
        margin-top: 5px
      &::before
        margin-top: -5px

    &:hover,
    &:focus
      span
        &::after
          margin-left: 5px
          transform: rotate(-35deg)
          width: 15px
        &::before
          margin-left: 5px
          transform: rotate(35deg)
          width: 15px

  .navmenu-nav
    background: rgba($main-background, 0.8)
    height: 100vh
    left: -100vw
    overflow: hidden
    padding: $layout-space*2
    position: absolute
    width: 100vw
    z-index: 11
    +transition-ease(.3s)

    
