/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Media queries
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$phone:     20rem
$phone-l:   30rem
$tablet:    48rem
$laptop:    64rem
$MDPI:      75rem
$HiDPI:     90rem
$HD:        120rem


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Fonts
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100)
@import url(https://fonts.googleapis.com/css?family=Arvo)

$font-size:     16px
$font-line:     1.6em
$font-weight:   300
$titles-weight: 400

$font-text:     'Roboto', Arial, Helvetica, sans-serif
$font-titles:   'Arvo', Georgia, serif
$font-code:     monospace, monospace


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Colors
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$main-background:           #191828
$main-background-gradient:  #311737
$main-color:                #efedef

$color-primary:             #fd264f
$color-accent:              #0de084

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Borders
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$border-radius:         3px
$border-size:           1px
$border-shadow:         0px
$border-shadow-opacity: 0.1


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Buttons
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$button-height: 40px
$button-border: 2px
$button-radius: 22px


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Links
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$link-border:           2px
$link-navbar-border:    4px


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Layout
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$layout-space:  2rem
$layout-grid:   2vw


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Width
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$width-laptop:      100%
$width-laptop-md:   80%
$width-laptop-sm:   60%
$width-tablet:      90%
$width-phone:       90%
$width-max:         auto

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Card
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$card-height:   300px


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Navbar
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$navbar-height: 60px
