// _vars
/////////////////////// media queries
$phone:     20rem
$phone-l:   30rem
$tablet:    48rem
$laptop:    64rem
$MDPI:      75rem
$HiDPI:     90rem
$HD:        120rem

// typography
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100)
@import url(https://fonts.googleapis.com/css?family=Arvo)
$font-family:       'Roboto', Arial, Helvetica, sans-serif
$font-line:         1.6em
$font-size:         16px
$font-weight:       300
$code-font:         monospace, monospace
$title-font:        'Arvo', Georgia, serif
$title-line:        1em
$title-weight:      400

// color
$main-background:   #191828
$main-color:        #efedef
$color-primary:     #fd264f
$color-accent:      #0de084
$color-white:       #dddddd
$color-black:       #333333

// border
$border-radius:     1px
$border-width:      1px

// space between elements
$layout-space:      2rem

// space between flex grid
$layout-grid:       2vw

// width container
$width-phone:       90%
$width-tablet:      90%
$width-laptop:      80%
$width-HD:          80%
$width-max:         auto