/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Layout
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * Main container * * */
.main-container
    display: block 
    display: -webkit-flex 
    display: -moz-flex 
    display: flex 
    -webkit-flex-wrap: nowrap 
    -moz-flex-wrap: nowrap 
    flex-wrap: nowrap
    &.main-col
        -webkit-flex-direction: column 
        -moz-flex-direction: column 
        flex-direction: column
        min-height: 100vh
    &.main-row
        -webkit-flex-direction: row 
        -moz-flex-direction: row 
        flex-direction: row
        min-width: 100vw



/* * * General container * * */
.container
    margin: 0 auto
    max-width: $width-max
    width: $width



/* * * Paddings * * */
.padding-top
    padding-top: $layout-space
