/* src/layout/pin.sass */
// Pin container like pinterest
.pin-container
  -webkit-column-width: 100%
  -moz-column-width: 100%
  column-width: 100%
  -webkit-column-gap: $grid-space
  -moz-column-gap: $grid-space
  column-gap: $grid-space
  -webkit-column-count: 1
  -moz-column-count: 1
  column-count: 1
  margin: 0
  padding: 0
  @media screen and (min-width: $phone-l)
    -webkit-column-count: 2
    -moz-column-count: 2
    column-count: 2
  @media screen and (min-width: $tablet)
    -webkit-column-count: 3
    -moz-column-count: 3
    column-count: 3
  @media screen and (min-width: $MDPI)
    -webkit-column-count: 4
    -moz-column-count: 4
    column-count: 4
  @media screen and (min-width: $HD)
    -webkit-column-count: 5
    -moz-column-count: 5
    column-count: 5
  > *
    margin-top: 0

// Pin
.pin
  display: inline-block
  margin: 0 0 $grid-space/1.5
  padding: 0
  -webkit-column-break-inside: avoid
  -moz-column-break-inside: avoid
  column-break-inside: avoid
